<div (click)="setActivTopic()">
  <h2>Title: {{this.topic.title}}</h2>
</div>


<div *ngIf="this.topic===this.service.activTopic">
  <table>
    <thead>

    <th>
      Comments
    </th>
    <th>

    </th>
    </thead>
    <tbody>
    <tr>
      <td>{{this.topic.content}}</td>
      <td *ngIf="this.topic.content!==''">{{this.topic.user.name}}</td>
    </tr>
    <tr *ngFor="let c of topic.comments">

      <td>
        {{c.content}}
      </td>
      <td>
        {{c.user?.name}}
      </td>
    </tr>
    </tbody>

  </table>

  <form (submit)="postAComment()">

    <input type="text" placeholder="New comment" name="newComment" [(ngModel)]="content">

    {{content}}

    <button>Post</button>
  </form>
</div>
